.top-buffer-15 {
    margin-top:15px;
}
.bottom-buffer-15 {
    margin-bottom:15px;
}
#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}    

#footer{
    font-family: Arial;
    background-color: #3e3f3a;
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}    

#footer span:first-of-type {
    color:white;
}

.table th {
    height:57px;
}